@import './utils/functions';
@import './utils/variables';
@import './utils/mixins';
@import './base/reset';
@import './utils/helpers';
@import './layout/sections';

//Components
@import './components/navLinks';
@import './components/inputField';
@import './components/button';
@import './components/card';
@import './components/skill';

h1 { font-size: 2.3rem; }
h2 { font-size: 2rem; }

p, span { font-size: 1.125rem; }

@include respond-to('medium') {
    h1 { font-size: 2.5rem; }
    h2 { font-size: 2.2rem; }
}
@include respond-to('large') {
    h1 { font-size: 2.8rem; }
    h2 { font-size: 2.4rem; }
    p, span { font-size: 1.25rem; }
}
@include respond-to('extra_large') {
    h1 { font-size: 3rem; }
    h2 { font-size: 2.6rem; }
}
