---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Welcome from "../components/Welcome.astro";
import Skills from "../components/Skills.astro";
import Experience from "../components/Experience.astro";
import Contact from "../components/Contact.astro";

import "../styles/global.css";
---

<Layout>
  <Header />
  <main id="main-content" class="max-w-5xl px-5 md:px-8 mx-auto">
    <Welcome />
    <Skills />
    <Experience />
    <Contact />
  </main>
</Layout>
