---
import EnvelopeIcon from "../assets/envelope-regular-full.svg";
import LinkedInIcon from "../assets/linkedin-brands-solid-full.svg";

import { getTranslations } from "../utils/i18n";

const t = getTranslations(Astro.url);
---

<section id="contact">
  <div class="py-28">
    <h2 class="text-4xl font-bold mb-8">{t.contact.title}</h2>

    <p class="text-gray-400 mb-5">
      {t.contact.description}
    </p>

    <div class="flex items-center gap-5">
      <a
        class="flex items-center gap-1"
        href="https://www.linkedin.com/in/luisrb05/"
        target="_blank"
      >
        <LinkedInIcon class="w-6 h-6 text-white" />
        LinkedIn
      </a>

      <a
        class="flex items-center gap-1"
        href="mailto:lrodriguezbaltodano97@gmail.com"
      >
        <EnvelopeIcon class="w-6 h-6 text-white" />
        lrodriguezbaltodano97@gmail.com
      </a>
    </div>
  </div>
</section>
