.btn {
    background-color: $color__lightgray;
    border-radius: toRem(8px);
    font-size: toRem(18px);
    font-weight: 700;
    letter-spacing: 1.5px;
    padding: toRem(14px) toRem(20px);
    transition: 400ms all ease;
    width: 100%;
}

.btn-primary {
    background-color: $color__primary;
    color: $color__white;

    &:hover {
        background-color: darken($color__primary, $amount: 5);
    }
    &:disabled {
        cursor: not-allowed;
        background-color: lighten($color__primary, $amount: 6);
    }
}