.card {
    background-color: $color__white;
    border-radius: toRem(25px);
    box-shadow: $card_shadow;
    margin: 0 auto;
    width: toRem(330px);

    .card__image-content,
    .card__content {
        padding: toRem(10px) toRem(14px);
    }

    .card__image-content {
        padding: toRem(25px) 0;
        position: relative;
        row-gap: toRem(5px);

        .overlay {
            background-color: $color__primary;
            border-radius: toRem(25px) toRem(25px) 0 toRem(25px);
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;

            &::after, &::before {
                background-color: $color__primary;
                bottom: toRem(-40px);
                content: '';
                height: toRem(40px);
                position: absolute;
                right: 0;
                width: toRem(40px);
            }
            &::after {
                background-color: $color__white;
                border-radius: 0 toRem(25px) 0 0;
                width: toRem(42px);
            }
        }

        .card__image {
            background-color: $color__white;
            border-radius: toRem(10px);
            padding: toRem(3px);
            position: relative;
            width: 80%;

            .card__img {
                border-radius: toRem(10px);
                border: 3px solid $color__primary;
            }
        }

    }
    
    .card__content {
        
        .card__title {
            font-size: toRem(20px);
            margin-top: toRem(5px);
        }
        .card__description {
            color: $color__black;
            font-size: toRem(18px);
            margin: toRem(10px) 0;
        }
        .btn-card {
            color: $color__primary;
            margin: 0 toRem(5px) toRem(5px) auto;
            text-decoration: underline;
            
            &:hover {
                color: darken($color__primary, $amount: 5);
            }
        }
    }
    @include respond-to-max-width(360px) {
        width: toRem(256px);
    }
}