.navLink {
    -moz-border-radius-bottomright: toRem(6px);
    -moz-border-radius-topright: toRem(6px);
    -webkit-border-bottom-right-radius: toRem(6px);
    -webkit-border-top-right-radius: toRem(6px);
    background-color: $color__white;
    border-bottom-right-radius: toRem(6px);
    border-top-right-radius: toRem(6px);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: none;
    left: 0;
    padding: toRem(20px) toRem(10px);
    position: fixed;
    top: 45%;
    transform: translateY(-50%);
    width: toRem(50px);
    z-index: 100;

    .navLink__list {
        gap: toRem(20px);

        .navLink__link {
            font-size: toRem(32px);

            .link {
                transition: $transition_link;

                &:hover {
                    transform: scale(1.15);
                }
            }
        }
    }

    @include respond-to('medium') {
        display: block;
    }
}