.contact__container {
    width: 90%;
    padding: toRem(35px) 0;

    @include respond-to('medium') {
        max-width: 550px;
    }

    @include respond-to('large') {
        max-width: 650px;
    }
}