.footer-section {
    height: toRem(200px);
    padding: toRem(40px) toRem(45px) toRem(5px) toRem(45px);

    .footer__top {
        margin-top: toRem(15px);

        .footer__social-links {
            .footer__social-link {
                margin-right: toRem(35px);
                font-size: toRem(28px);

                &:last-of-type {
                    margin-right: 0;
                }

                .link {
                    transition: $transition_link;

                    &:hover {
                        transform: scale(1.15);
                    }
                }
            }
        }
    }

    .footer__lower {
        min-height: toRem(80px);
        border-top: 3px solid $color__primary;

        .footer__lower-text {
            font-size: toRem(16px);
            text-align: center;
        }
    }
}