.header {
  align-items: center;
  display: flex;
  height: toRem(60px);
  justify-content: flex-end;
  padding: 0 toRem(15px);
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
}
