---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import Welcome from "../../components/Welcome.astro";
import Experience from "../../components/Experience.astro";
import Contact from "../../components/Contact.astro";

import "../../styles/global.css";
---

<Layout>
  <Header />
  <main class="container max-w-[800px] px-5 md:px-0 mx-auto">
    <Welcome />
    <Experience />
    <Contact />
  </main>
</Layout>
